body {
    overflow-x: hidden; 
    
  }
.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin: 0 -15;
    max-width: 1340px;
    
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; 
    max-width: 280px;
    padding: 15px;
    box-sizing: border-box;
}

.cardH1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    margin-right: 5px;
    width: 15px;
    height: 15px;
    object-fit: cover;
    border-radius: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

.selectList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .dashboard {
        width: calc(20% - 20px);
        flex: none; 
    }
}
